
body {
  margin-top: 100px;
}

#app-header{
  margin-bottom: 40px;
}
.filter-todo {
  width: 12 0px;
}
/* .todos-cards-wrapper{
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
} */
